* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
}
.contact-list{
    padding-top: 3%;
}
.google-map{
    align-items: center;
    margin-left: 3.5rem;
}